[user]
	name = Nick Dancer
	email = nick@dncr.me
[core]
	editor = mvim -f --nomru -c "au VimLeave * !open -a Terminal"
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = green bold
	local = green
	remote = blue
[color "diff"]
	meta = yellow bold
	frag = cyan bold
	old = red
	new = green
[color "status"]
	added = green
	changed = yellow
	untracked = red
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

