[user]
	name = Nick Dancer
	email = nick@dancr.me
[core]
	excludesfile = /Users/dancer/.gitignore
	editor = mate -w
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = green bold
	local = green
	remote = blue
[color "diff"]
	meta = yellow bold
	frag = cyan bold
	old = red
	new = green
[color "status"]
	added = green
	changed = yellow
	untracked = red
