files/.config/fish/fishd*
files/.config/fish/fish_history
files/.config/fish/fish_read_history


.vim/backup_files/
.vim/swap_files/
.vim/undo_files/
.vim/bundle/

.vim/.netrwhist
.vim/bundle/Vundle.vim/
.vim/bundle/ctrlp.vim/
.vim/bundle/nerdtree/
.vim/bundle/vim-airline/
.vim/bundle/vim-colors-solarized/
.vim/bundle/vim-fugitive/

