[user]
	name = DaNCeR
	email = dancer@feistystudios.com
[core]
	excludesfile = /Users/dancer/.gitignore
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = green bold
	local = green
	remote = blue
[color "diff"]
	meta = yellow bold
	frag = cyan bold
	old = red
	new = green
[color "status"]
	added = green
	changed = yellow
	untracked = red
